@layer reset{
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

}

@layer base{
    :root{
        --ff-body: 'Open Sans';
        --clr-background:#ffffff;
        --clr-font:#0a0a0a;
        --clr-separator:#e5e5e5;
        --fs-300: 0.875rem;
        --fs-400: 1rem;
        --fs-500: 1.125rem;
        --fs-600: 1.25rem;
        --fs-700: 1.5rem;
        --fs-800: 2rem;
        --fs-900: 3.75rem;
        --fs-1000: 3.75rem;
          @media (width > 760px) {
             --fs-300: 0.875rem;
            --fs-400: 1rem;
            --fs-500: 1.25rem;
            --fs-600: 1.5rem;
            --fs-700: 2rem;
            --fs-800: 3rem;
            --fs-900: 5rem;
            --fs-1000: 7.5rem;
        }
    }

    body{
        font-family: var(--ff-body);
        font-size:var(--fs-300);
        color: var(--clr-font);
        background-color:var(--clr-background);
    }

    ul{
        display:flex;
        list-style-type: none;
        justify-items: center;
    }

    ul svg {
        width : 36px;
        height : 36px;
    }
}

@layer layout{
    .site-layout
    {
        display:flex;
        justify-content: center;
        padding:265px;
        gap:25px   
    }
    
    .site-info
    { 
        height:100px;
        width:350px;
    }
}

@layer components{
    .profile-img
    {
       /* clip-path: inset(26% 5% 15% 18%);*/
          width: 140px;
          height: 150px;
          object-fit: cover;
          object-position: 20% 80%; 
    }
}

@layer utilities{
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.text-center {
    text-align: center;
  }
}
