{{ define "main" }}
  <main class="main">
   <section class = "home-layout">
            <div class = "site-profile">
                <div class="profile-section">
                    <img class ="profile-img" src="/images/mexd.jpg"alt = "me" >
                    <ul class = "icons">
                        <li><a href ="https://github.com/safepre">Github</a></li>
                        <li><a href = "https://www.linkedin.com/in/safelg/">Linkedin</a></li>
                    </ul>
                </div>
                <div class = "site-info">
                <p> Hi, my name is Safelg and I am a software developer with a computer science degree at the California State University, Dominguez Hills. You can check out my <a href="/projects">projects</a> and <a href="/work">work experience</a>, or explore outside of <a href="/others">programming</a>.</p>
            </div>
             </div>
                    </section>
  </main>
        {{ end }}
